<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quizes</title>
    <link rel="stylesheet" href="/css/semantic.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="wrapper">
        <div class="ui inverted  menu">
            <a class="active item" href="/">
              Home
            </a>
            <a class="item" href="/quiz">
              Quizes
            </a>
            <a class="item" href="/tutorials">
              Tutorials
            </a>

            <div class="right menu">
              <div class="item">
                <div class="ui icon input">
                  <input type="text" placeholder="Search...">
                  <i class="search link icon"></i>
                </div>
              </div>
              <a class="ui item" href="/login">
                Logout
              </a>
            </div>
        </div>
        <section>
            <div class="ui inverted segment">
                <% quiz.forEach((quiz)=> { %>
                    <%- quiz.question  %>
                    <div class="two fields">
                        <button class="ui inverted button"><%-  %></button>
                        <button class="ui inverted button">2. Answer one</button><br>
                        <button class="ui inverted button">3. Answer one</button>
                        <button class="ui inverted button">4. Answer one</button>
                    </div>
                <% }); %>
            </div>  
             
               
            
        </section>
        
        
    </div>



<script src="/js/semantic.min.js"></script>
</body>
</html>